/**
=============================================================
; Title:  contact.component.css
; Author: Professor Krasso
; Date:   05 November 2021
; Modified By: Soliman Elmalak
; Description: styling for  contact.component.html
; =============================================================
*/

/*align-center styling*/
.align-center {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }
  
/*main-header font-size and color styling*/
  .main-header {
    font-size: 42px;
    color: #00008b;
  }
  
  /*contact-container styling*/
  .contact-container {
    width: 100%;
    padding-top: 30px;
  }

 /*card-title-icon and mat-icon styling*/
  .card-title-icon, .mat-icon {
    font-size: 102px;
    color: #663043;
  }
  
  /*mat-card-content styling*/

  .mat-card-content{
    color:#a1045a
 
  }