/*
=============================================================
; Title:  home.component.css
; Author: Soliman Elmalak
; Date: 02 November 2021
; Description: Styling for home.component.html
=============================================================
*/

/* This is a styling for the title and subtitle text */
.main-welcome {
    margin-top: 30px;

  }
  /* This is a styling for the title class */
  .title {
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 43px;
    text-align: center;
    color: #00008b;
  

  }
    /* This is a styling for the subtitle */
  .subtitle {
    text-align: center;
    font-size: 20px;
    color: #a1045a;
    font-weight: bolder;

  }
    
    /* This is a styling for Create Task button ToDo and Done columns*/
  .task-container {
    padding-top: 50PX;
    width: 40%;
    margin: 0 auto;
  }

  /* This is a styling for Create Task button */
  .mat-raised-button{
    background-color: #663043;
    color: white ;
    font-size: 1.9em;
    height: 60px;
    border-color: black;
  }

  /* This is a styling for ToDo and Done column field */
  .task-column {
    border: 1px solid #ccc;
    min-height: 68px;
    background: white;
    border-radius: 4px;
    overflow: auto;
    display: block;
  }
  
    /* task cars styling */

  .task-card {
    cursor: move;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    min-height: 68px;
    height: 68px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }