  /*
=============================================================
; Title:  base-layout.component.css
; Author: Soliman Elmalak
; Date:     Date 29 October 2021
; Description: Styling for base-layout.component.html
=============================================================
*/


  /* navbar-container styling  */
  .navbar-container {
    padding: 5px;
  }
  
  /* This is a set up for the navbar-link buttons  */
  .navbar-link {
    font-size: 24px;
    font-weight: bolder;
  }
  
  /* This is a set up for the footer bottom, position, and width  */
  .main-content {
    padding-left: 30px;
  }

   /* This is a set up for the footer bottom, position, and width  */
  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
 }   

    /* Styling for the footer-content  */
  .footer-content {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 40%;
  }

/* This is a styling for the footer */
  .bu-link {
    text-decoration: none;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
   
/* This is a styling for sign out profile-menu  icon */
  .mat-icon {
    font-size: 50px;
    color: #663043;
  }
  
  /* This is a styling for sign out profile-menu */
  .profile-menu {
    font-size: 50px;
    padding-left:1500px;
  }

  
/* coming soon for logo styling */
.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: bolder;;
}

 