  /*
=============================================================
; Title:  base-layout.component.css
; Author: Soliman Elmalak
; Date:     Date 29 October 2021
; Description: Styling for base-layout.component.html
=============================================================
*/


  /* navbar-container styling  */
  .navbar-container {
    padding: 5px;
  }
  
  /* This is a set up for the navbar-link buttons  */
  .navbar-link {
    font-size: 18px;
    color: #663043;

  }
  
  /* This is a set up for the footer bottom, position, and width  */
  .main-content {
    padding-left: 30px;
    width: 100%;

  }

   /* This is a set up for the footer bottom, position, and width  */
  .footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
 }   

    /* Styling for the footer-content  */
  .footer-content {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 4%;
  }

/* This is a styling for the footer */
  .bu-link {
    text-decoration: none;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
   
/* This is a styling for sign out profile-menu icon */
  .mat-icon {
    font-size: 35px;
    color: #663043;
  }
  
 /* page-container position styling  */
.page-container {
  position: relative;
}