<!--
=============================================================
; Title:  base-layout.component.html
; Author: Soliman Elmalak
; Date: Date 27 October 2021
; Description: base-layout.component
=============================================================
-->

<div class="page-container" fxLayout="column">
    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar>
        <!-- navbar container -->
        <div class="navbar-container">
          <!-- logo -->
          <button class="navbar-link" routerLink="/home" mat-button> NodeBucket</button>

          <button class="navbar-link" routerLink="/about" mat-button>About Us</button>
          <button class="navbar-link" routerLink="/contact" mat-button>Contact</button>
        </div>
        <!-- Add a Sign-Out profile menu -->
        <div class="profile-menu" *ngIf="isLoggedIn">
          <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="user profile menu">
            <mat-icon>perm_identity</mat-icon>
          </button>

            <mat-menu #profileMenu>
              <p style="padding: 10px">Signed in as {{ name }}</p>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
        </div>
      </mat-toolbar>
    </nav>
  
    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>
    <br />
    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.MJT Web Technology.com/" class="bu-link" target="_blank">MJT Web Technology</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>
  
</div>
  