.logo {
    margin-left: 75px;
    font-size: 24px;
    font-weight: bolder;;
  }
  
  .navbar-container {
    padding: 5px;
  }
  
  .navbar-link {
    font-size: 24px;
    font-weight: bolder;
  }
  
  .main-content {
    padding-left: 30px;
  }
  
  /*
=============================================================
; Title:  base-layout.component.css
; Author: Soliman Elmalak
; Date:     Date 29 October 2021
; Description: Styling for base-layout.component.html
=============================================================
*/

  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .footer-content {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-left: 40%;
  }
  
  .bu-link {
    text-decoration: none;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
  